modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Start App"

[[workflows.workflow]]
name = "Start App"
author = 44561895
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx tsx server/index.ts"
